body{
    background-image: url('https://media.istockphoto.com/id/604337712/photo/double-lightening-hitting-the-rio-plata-in-black-and-white.jpg?s=612x612&w=0&k=20&c=zXZWRKFco62NdbXs6cpFC6hbBaWyqfdvhZGjghXFReQ=');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5vh;
    margin: 0;
}
a{
    font-size: 4vw;
    color: rgb(246, 231, 231);
    text-decoration: none;
    text-align: center;
    padding: 1vh 2vw;
   
    border: 0.5vw solid white;
    display: inline-block;
    margin-bottom: 2vh;
}
.lin1{
    margin-left: 20%;
    text-align: center;
}
.lin2{
    margin-left: 2vw;
    text-align: center;
}
p{
    text-transform: capitalize;
    text-align: center;
    color: rgb(235, 244, 247);
    
    font-size: 2.5vw;
    margin: 10vh 5vw;
}
h1{
    font-size: 15vw;
    text-align: center;
    color: white;
    text-transform: uppercase;
    
    
    margin: 5vh 5vw;
}